.game{ 
    width: 410px;        
    text-align: center;
    font-family:system-ui;
    color: white;
    margin:auto;
    font-weight: 500;
}

.title{
    background: rgb(6,41,107);
    padding: 10px 0;     
    margin-bottom: 15px; 
    font-size: 24px;     
}

span{
    color:#fa0;
}

.square{
    width: 120px;       
    height: 120px;      
    background: rgb(56,153,239);
    float:left;
    margin:5px;          
    font-size:60px;     
    line-height:120px;  
    border-radius:8px;   
    cursor:pointer;
    transition:.2s;
}

.square:hover{
    background:#2f4d49;
    transform:scale(1.05); 
}